# Python 缓存
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境
venv/
env/

# 模型文件与海量数据
models/*.pth
dataset/*.pt
dataset/*.dat
dataset/*.hea

# 数据库文件
*.db
*.sqlite3

# 环境变量与系统文件
.env
.DS_Store

# =============== 新增下面这块 ===============
# IDE 缓存文件 (Visual Studio / VS Code)
.vs/
.vscode/
*.suo
*.user